
 <nav class = "navbar fixed-top bg-dark "> 
     
   <ul class = "nav">
       <li class = "nav-item"><a class ="nav-link" routerLink = "/home" >
        <img src = "./assets/shudder-logo-flat.png" width= "220">
        </a></li>
        <li class = "nav-item"><a class ="nav-link text-white" routerLink = "/collections" routerLinkActive = "active">
            Collections
        </a></li>  
        <li class = "nav-item"><a class ="nav-link text-white" routerLink = "/movies" routerLinkActive = "active">
            Movies
        </a></li>  
        <li class = "nav-item"><a class ="nav-link text-white" routerLink = "/series" routerLinkActive = "active">
            Series
        </a></li>  
        <li class = "nav-item"><a class ="nav-link text-white"  routerLink = "/shudder-tv" routerLinkActive = "active">
            Shudder TV
        </a></li>  
        <li class = "nav-item"><a class ="nav-link text-white" routerLink = "/my-list" routerLinkActive = "active">
            My List
        </a></li>  
        <svg class="bi" width="24" height="24" color = "white">
            <use xlink:href="bootstrap-icons.svg#search"/>
        </svg>
        <li class = "nav-item"><a class ="nav-link text-white" routerLink = "/my-account">
            My Account
        </a></li> 
    </ul>
</nav> 