<div id="carouselMovie" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/house-of-1000-corpses.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./assets/Sinister.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./assets/halloween-1978-2.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
    