<div class = "container-fluid bg-dark ">
    <div class = "col bg-dark">
        <h1 class = "text-white">
            Movies
        </h1>
        <p class = "text-white">
            Filter by Genre
        </p>
        <div class = "row">
            <ul class = "nav">
                 <li class = "nav-item"><a class ="nav-link text-white" href = "#">
                     All Movies
                 </a></li>  
                 <li class = "nav-item"><a class ="nav-link text-white" href = "#">
                     Supernatural
                 </a></li>  
                 <li class = "nav-item"><a class ="nav-link text-white" href = "#">
                     Killers
                 </a></li>  
                 <li class = "nav-item"><a class ="nav-link text-white"  href = "#">
                     Creature Features
                 </a></li>  
                 <li class = "nav-item"><a class ="nav-link text-white" href = "#">
                     Psychological Thriller
                 </a></li> 
                 <li class = "nav-item"><a class ="nav-link text-white" href = "#">
                     Exclusive and Original
                 </a></li> 
                 <li class = "nav-item"><a class ="nav-link text-white" href = "#">
                    International
                </a></li>  
                <li class = "nav-item"><a class ="nav-link text-white" href = "#">
                    Documentary
                </a></li>  
                <li class = "nav-item"><a class ="nav-link text-white" href = "#">
                    Comedy
                </a></li>  
                <li class = "nav-item"><a class ="nav-link text-white"  href = "#">
                    Crime and Mystery
                </a></li>  
                <li class = "nav-item"><a class ="nav-link text-white" href = "#">
                    Revenge
                </a></li> 
                <li class = "nav-item"><a class ="nav-link text-white" href = "#">
                    Sci-fi
                </a></li> 
             </ul>
        </div>
    </div>
</div>