<div class ="bg-dark">
    <h1 class = "nav-item"><a class ="nav-link text-white"  href = "#">
        Newly Added >
    </a></h1> 
<div class = "container">
    <div class = row>
            <div class = "card bg-dark" style = "width: 14rem;">
                <img src = "./assets/columnist.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 14rem;">
                <img src = "./assets/houseOfTheDevil.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 14rem;">
                <img src = "./assets/kriya.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 14rem;">
                <img src = "./assets/ms45.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 14rem;">
                <img src = "./assets/theStuff.jpg" class = "card-img-top">
            </div>
    </div>
</div>
</div>