<div class="container pt-10 bg-dark">
    <div class="row bg-dark">
        <div class="col bg-dark">
            <div class="input-group">
                <form #postForm="ngForm" (ngSubmit)="onUpdateAccount(postForm.value)">
                    <div class="input-group">
                        <span class="input-group-text"> Username</span>
                        <input type="text" aria-label="Username" class="form-control">
                        
                      </div>
                      <div class="input-group">
                        <span class="input-group-text">Password</span>
                        <input type="text" aria-label="Password" class="form-control">
                        
                      </div>
                      <button class = "btn btn-dark" type ="submit">
                        Edit
                    </button>
                </form>
        </div>
    </div>
</div>