<div class = "container-fluid bg-dark ps-10 mx-0">
    <div class = "col bg-dark">
        <h1 class = "text-white pt-5 ps-10">
            My List
        </h1>
        <h3 class = "text-white py-3 ps-10">
            3 Titles
        </h3>
        <div class = "row bg-dark ps-10">
            <div class = "card bg-dark" style = "width: 18rem;">
                <img src = "./assets/houseOfTheDevil.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 18rem;">
                <img src = "./assets/kriya.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 18rem;">
                <img src = "./assets/ms45.jpg" class = "card-img-top">
            </div>
        </div>
    </div>
</div>