<div class = "container-fluid bg-dark pt-8">
    <h1 class = "text-white pt-5 ">
        Series And Podcasts
    </h1>
    <div class = "row justify-content-center pt-8">
        <div class = "card bg-dark" style = "width: 25rem;">
            <img src = "./assets/columnist.jpg" class = "card-img-top">
        </div>
        <div class = "card bg-dark" style = "width: 25rem;">
            <img src = "./assets/houseOfTheDevil.jpg" class = "card-img-top">
        </div>
        <div class = "card bg-dark" style = "width: 25rem;">
            <img src = "./assets/kriya.jpg" class = "card-img-top">
        </div>
    </div>
</div>