<div class = "container-fluid bg-dark">
    <div class = "col bg-dark">
        <div class = "row justify-content-center bg-dark py-4">
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/houseOfTheDevil.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/kriya.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/ms45.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/theStuff.jpg" class = "card-img-top">
            </div>
        </div>
        <div class = "row justify-content-center bg-dark py-4">
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/houseOfTheDevil.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/kriya.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/ms45.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/theStuff.jpg" class = "card-img-top">
            </div>
        </div>
        <div class = "row justify-content-center bg-dark py-4">
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/houseOfTheDevil.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/kriya.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/ms45.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/theStuff.jpg" class = "card-img-top">
            </div>
        </div>
        <div class = "row justify-content-center bg-dark py-4">
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/houseOfTheDevil.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/kriya.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/ms45.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 17rem;">
                <img src = "./assets/theStuff.jpg" class = "card-img-top">
            </div>
        </div>
    </div>
</div>