<div class = "d-flex flex-container justify-content-center bg-dark mt-4 px-3">
    <div class = "col bg-dark">
        <h1 class = "nav-item "><a class ="nav-link text-white"  href = "#">
            Featured Collection
        </a></h1> 
        <div class = "row bg-dark justify-content-center">
            <div class = "card bg-dark" style = "width: 30rem;">
                <img src = "./assets/columnist.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 30rem;">
                <img src = "./assets/houseOfTheDevil.jpg" class = "card-img-top">
            </div>
            <div class = "card bg-dark" style = "width: 30rem;">
                <img src = "./assets/kriya.jpg" class = "card-img-top">
            </div>
        </div>
    </div>
</div>